# <font color = '555555'> <center> BAB VII Tuples dan Sets

## <font color = '#5DADE2'> A. Introduction </font>
Tuple dan Set adalah salah satu dari 4 tipe data bawaan dalam Python yang digunakan untuk menyimpan kumpulan data, 2 lainnya adalah List dan Dictionary semuanya dengan kualitas dan penggunaan yang berbeda.

## <font color = '#5DADE2'> B. Tuples </font>
### <font color = "00bfc4"> 1. Pengertian </font>
Digunakan untuk menyimpan beberapa item dalam satu variabel. Tuple adalah kumpulan item dan tidak dapat diubah, penulisan tuple dengan tanda kurung "()".

Contoh :

In [2]:
## cara 1
tuple_1 = ('Sinonim', 'Musliati', 'Latihan tidak ada', 'Andi Aisar')
print(tuple_1)
tuple_2 = (1, "Matematika", False, "Statistika", True, "Sistem Informasi")
tuple_2

('Sinonim', 'Musliati', 'Latihan tidak ada', 'Andi Aisar')

(1, 'Matematika', False, 'Statistika', True, 'Sistem Informasi')

In [2]:
## cara 2
tuple_1 = ('Sinonim', 'Musliati', 'Latihan tidak ada', 'Andi Aisar')
for i in tuple_1:
    print(i, end=', ')

Sinonim, Musliati, Latihan tidak ada, Andi Aisar,

Sama halnya dengan list, tuple juga bisa memiliki item yang berbeda type datanya serta juga dapat diketahui panjangnya atau banyaknya item di dalam tuple dengan menggunakan fungsi <font color = "Red">len( )</font>.

Contoh :

In [3]:
my_tuple = ('Matematika', 'Statistika', 'Sistem Informasi')

print('Panjang Tuple:', len(my_tuple))

Panjang Tuple: 3

### <font color = "00bfc4"> 2. Manipulasi Tuple </font>
Tuple kumpulan beberapa item dan tidak dapat diubah lagi. Tetapi kita bisa melakukan manipulasi tuple tersebut, dengan cara melakukan konversi type data tuple ke list, lalu data list yang kita ubah, setelah diubah, dilakukan kembali konversi data dari list ke tuple.

Contoh :

In [4]:
my_tuple = ('Matematika', 'Statistika', 'Sistem Informasi')

conv_list = list(my_tuple)
conv_list.append('Aktuaria')
conv_list.remove('Statistika')
conv_list.insert(1, 'Data Science')
my_tuple = tuple(conv_list)

for i in my_tuple:
    print(i)

Matematika
Data Science
Sistem Informasi
Aktuaria

## <font color = '#5DADE2'> C. Sets </font>
### <font color = "00bfc4"> 1. Pengertian </font>
Set adalah kumpulan yang tidak berurutan, tidak dapat diubah, dan tidak terindeks dan tidak ada anggota yang terduplikat.

Contoh :

In [5]:
my_set = {1, 'Matematika', False, 'Statistika', True, 'Sistem Informasi'}
print(my_set)

{False, 1, 'Sistem Informasi', 'Statistika', 'Matematika'}

Sama halnya dengan tuple, set juga bisa memiliki item yang berbeda type datanya serta juga dapat diketahui panjangnya atau banyaknya item di dalam set dengan menggunakan fungsi <font color = 'Red'>len()</font>.

Contoh :

In [6]:
my_set = {1, 'Matematika', False, 'Statistika', True, 'Sistem Informasi'}
print('Banyak item:', len(my_set))

Banyak item: 5

### <font color = "00bfc4"> 2. Manipulasi Tuple </font>
Sama halnya dengan tuple, set juga kumpulan beberapa item dan tidak dapat diubah lagi. Tetapi kita bisa melakukan manipulasi set tersebut, dengan cara melakukan konversi type data set ke list, lalu data list yang kita ubah, setelah diubah, dilakukan kembali konversi data dari list ke set.

Contoh :

In [7]:
my_set = {1, 'Matematika', False, 'Statistika', True, 'Sistem Informasi'}
my_list = list(my_set)
my_list.remove(1)
my_list.remove(False)
my_list.append('Aktuaria')
my_list.insert(1, 'Data Science')
my_set = set(my_list)

for i in my_set:
    print(i)

Sistem Informasi
Statistika
Matematika
Data Science
Aktuaria

In [12]:
## TEST TEST
a = []
for i in range(1, 11):
    a.append(f'H071231{i:03d}')
    
print(set(a))

{'H071231009', 'H071231004', 'H071231005', 'H071231001', 'H071231008', 'H071231002', 'H071231010', 'H071231006', 'H071231007', 'H071231003'}