# <font color = '555555'> <center> BAB IX : File dalam Python

## <font color = '#5DADE2'> A. Membuat File </font>

### <font color = "00bfc4"> Metode I

In [3]:
daftar_mhs = open('Daftar Mahasiswa.txt', 'w')

daftar_mhs.write('H071231001 \t: A. Muhammad Zulfikar\n')
daftar_mhs.write('H071231002 \t: Fitriani Jaya\n')
daftar_mhs.write('H071231003 \t: Angga\n')

daftar_mhs.close()

### <font color = "00bfc4"> Metode II

In [ ]:
## Error jika File yang dibuat sudah ada
daftar_mhs = open('Daftar Mahasiswa.txt', 'x')

In [12]:
with open('Daftar Mahasiswa.txt') as txt:
    for i in txt:
        print(i[:-1])

print()
## Hanya memunculkan NIM saja
with open('Daftar Mahasiswa.txt') as txt:
    for i in txt:
        print(i[:i.find('\t')-1])

print()
## Hanya memunculkan Nama saja
with open('Daftar Mahasiswa.txt') as txt:
    for i in txt:
        print(i[i.find('\t')+3:-1])

H071231001 	: A. Muhammad Zulfikar
H071231002 	: Fitriani Jaya
H071231003 	: Angga

H071231001
H071231002
H071231003

A. Muhammad Zulfikar
Fitriani Jaya
Angga

In [5]:
nama_mahasiswa =[]
with open('Daftar Mahasiswa.txt') as txt:
    for i in txt:
        nama_mahasiswa.append(i[:-1])

nama_mahasiswa

['H071231001 \t: A. Muhammad Zulfikar',
 'H071231002 \t: Fitriani Jaya',
 'H071231003 \t: Angga']

In [9]:
## Ingin dipisahkan nim kedalam set dan nama kedalam tuple
nim = []
nama = []
with open('Daftar Mahasiswa.txt') as txt:
    for i in txt:
        nim.append(i[:i.find('\t')-1])
        nama.append(i[14:-1])

print(set(nim))
print(tuple(nama))

{'H071231003', 'H071231002', 'H071231001'}
('A. Muhammad Zulfikar', 'Fitriani Jaya', 'Angga')